<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="utf-8">
        <style>
            body{
                font-family: Verdana;
                background-color: lightgray;
            }
        </style>
    </head>

    <body>
        <form method="post">
            <p>Log-In:</p>
            <p><input type="text" name="username" placeholder="username" required/></p>
            <p><input type="password" name="password" placeholder="password" required/></p>
            <p><input type="submit" value="Login"/></p>
        </form>
    </body>

</html>